# Compiled classes
*.class

# Log files
*.log

# IntelliJ IDEA files
.idea/
*.iml

# Eclipse files
*.classpath
*.project
.settings/

# Output folders
/out/
/target/

# OS files
.DS_Store

# Credentials
config.properties